.product {
  display: flex;
  width: 100%;
  .productContainer {
    flex: 10;
    background-color: #f9f8ff;
    .tableUser {
      .CotainerBtn {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        .title {
          font-size: 24px;
          color: gray;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .AddProduct {
          height: 50px;
          width: 100px;
          cursor: pointer;
          background-color: rgb(32, 224, 32);
          font-size: 24px;
          color: white;
          border-radius: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
