.dark {
  background-color: #222;

  .table {
    background-color: #222;
  }
  .tableUser {
    background-color: #222;
  }
  .listContainer {
    background-color: #222 !important;
  }
  .productContainer {
    background-color: #222 !important;
  }
  .NewProductContainer {
    background-color: #222 !important;
    form,
    label,
    input,
    select,
    textarea,
    button {
      background-color: #222 !important;
    }
  }
  .OrderContainer {
    background-color: #222 !important;
  }
  .DeliveryContainer {
    background-color: #222 !important;
  }
  .silder {
    background-color: #222 !important;
  }
  .chartUser {
    background-color: #222 !important;
  }
  .singleContainer {
    background-color: #222 !important;
  }
  .OrderDetailContainer {
    background-color: #222 !important;
  }
  .headerPage {
    background-color: #222 !important;
  }
  .NewProductContainer,
  .Container {
    background-color: #222 !important;
  }
  .newProductPaper {
    background-color: #222 !important;
  }
  .homepage {
    background-color: #222 !important;
  }
}
